.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
