.sticky {
    height: 100px;
    width: 100px;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 9px;
    padding: 2px;
    word-break: break-all;
    z-index: 2;
    display:block;
    margin:2px;
}

.stickiesContainer {
    position: relative;
    margin: 4px;
}

.stickyTransformed {
    height: 100px;
    width: 100px;
    border: 1px solid yellowgreen;
    background-color: yellowgreen;
    border-radius: 9px;
    padding: 2px;
    word-break: break-all;
    z-index: 2;
    display:block;
    margin:2px;
}
